{% extends 'base.html' %}

{% block body %}

<div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <legend>Importar Despesas</legend>

                        <br>
                        <div class="form-group">
                            {{ form.despesas.label }}
                            {{ form.despesas(class="form-control-file") }}
                            {% if form.despesas.errors %}
                                {% for erro in form.despesas.errors %}
                                        <span class="text-danger"> {{ erro }} </span><br>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </fieldset>
                    {{ form.botao_submit(class="btn btn-primary mt-2") }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

