{% extends 'base.html' %}


{% block body %}
<br><br>
<div class="class="container-fluid">
     <div class="row text-center">
          <div class="col">
               <div class="border">
                  <h4>Resumo da Importação das Despesas</h4>
                   <br><br>
               </div>
          </div>
    </div>

    <div class="row justify-content-center align-items-center">
          <div class="col">
               <div class="border">
                  <h5>Despesas Gerais</h5>
               </div>
          </div>
             <table class="table table-bordered border-dark">
                 <thead>
                    <tr class="table-success">
                       <th scope="col"></th>
                       <th scope="col">Admistrativas</th>
                       <th scope="col">Ocupação</th>
                       <th scope="col">ProLabore</th>
                       <th scope="col">Geral</th>
                    </tr>
                 </thead>

                 <tbody>
                       <tr class="text-center" >
                         <th scope="row"></th>
                             <td>{{ '{:,.2f}'.format(geral_des[0]) }}</td>
                             <td>{{ '{:,.2f}'.format(geral_des[1]) }}</td>
                             <td>{{ '{:,.2f}'.format(geral_des[2]) }}</td>
                             <td>{{ '{:,.2f}'.format(geral_des[3]) }}</td>
                       </tr>
                 </tbody>

             </table>

    </div>

    <div class="row justify-content-center align-items-center">
          <div class="col">
               <div class="border">
                  <h5>Despesas Por Empresa</h5>
               </div>
          </div>
             <table class="table table-bordered border-dark">
                 <thead>
                    <tr class="table-success">
                       <th scope="col"></th>
                       <th scope="col">Empresa</th>
                       <th scope="col">Admistrativas</th>
                       <th scope="col">Vendas</th>
                       <th scope="col">Ocupação</th>
                       <th scope="col">Imposto s/venda</th>
                       <th scope="col">Geral</th>
                    </tr>
                 </thead>
                {% for emp in empresa_des%}
                 <tbody>
                       <tr class="text-center" >
                         <th scope="row"></th>
                             <td>{{ emp }}</td>
                             <td>{{ '{:,.2f}'.format(empresa_des[emp][0]) }}</td>
                             <td>{{ '{:,.2f}'.format(empresa_des[emp][1]) }}</td>
                             <td>{{ '{:,.2f}'.format(empresa_des[emp][2]) }}</td>
                             <td>{{ '{:,.2f}'.format(empresa_des[emp][3]) }}</td>
                             <td>{{ '{:,.2f}'.format(empresa_des[emp][4]) }}</td>
                       </tr>
                 </tbody>
                 {% endfor %}
             </table>

    </div>

    <div class="row justify-content-center align-items-center">
          <div class="col">
               <div class="border">
                  <h5>Erros No processo</h5>
               </div>
          </div>
             <table class="table table-bordered border-dark">
                 <thead>
                    <tr class="table-success">
                       <th scope="col"></th>
                       <th scope="col">Histórico</th>
                       <th scope="col">Valor</th>
                    </tr>
                 </thead>
                {% for erro in despesa_erro %}
                 <tbody>
                       <tr class="text-center" >
                         <th scope="row"></th>
                             <td>{{ erro }}</td>
                             <td>{{ '{:,.2f}'.format(despesa_erro[erro]) }}</td>
                       </tr>
                 </tbody>
                 {% endfor %}
             </table>

    </div>

</div>


{% endblock %}
