{% extends 'base.html' %}

{% block body %}
<div class="container">
     <h1>Despesas da Administração Geral</h1>
     <table class="table">
         <thead>
            <tr>
               <th scope="col"></th>
               <th scope="col">Ano</th>
               <th scope="col">Mês</th>
               <th scope="col">Administrativa</th>
               <th scope="col">Ocupação</th>
               <th scope="col">Prolabore</th>
               <th scope="col">Gerais</th>
            </tr>
         </thead>
         {% for despesa in despesas %}
         <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>{{ despesa.ano }}</td>
                  <td>{{ despesa.mes }}</td>
                  <td>{{ despesa.despesas_adm }}</td>
                  <td>{{ despesa.despesas_ocu }}</td>
                  <td>{{ despesa.despesas_pro }}</td>
                  <td>{{ despesa.despesas_ger }}</td>
                </tr>
         </tbody>
         {% endfor %}

     </table>
</div>
{% endblock %}
