{% extends 'base.html' %}

{% block body %}
<div class="container">
     <h1>Plano de Conta</h1>
     <a class="btn btn-primary btn-lg " role="button" aria-disabled="true"
        href="{{ url_for('incluir_plano') }}">Incluir</a>
     <table class="table">
         <thead>
            <tr>
               <th scope="col"></th>
               <th scope="col">Código</th>
               <th scope="col">Descrição</th>
               <th scope="col">Tipo</th>
               <th scope="col">Ação</th>
            </tr>
         </thead>
         {% for plano in planos %}
         <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>{{ plano.id }}</td>
                  <td>{{ plano.descricao }}</td>
                  <td>{{ plano.tipo }}</td>
                  <td>
                   <a class="btn btn-secondary btn-sn " role="button" aria-disabled="true"
                      href="{{ url_for('edita_plano', plano_id=plano.id) }}">Alterar</a>
                   <a class="btn btn-danger btn-sn " role="button" aria-disabled="true"
                      href="{{ url_for('excluir_plano', plano_id=plano.id) }}">Excluir</a>
                   </td>
                </tr>
         </tbody>
         {% endfor %}

     </table>
</div>
{% endblock %}
