<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

  <div class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for('home') }}">Lepostiche Alagoas</a>
    <div class="collapse navbar-collapse"  >
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Início</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('cria_conta') }}">Usuario</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('importar') }}">Importar Vendas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('importar_despesas') }}">Importar despesas</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('mostra_plano') }}">Plano de Conta</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('mostra_despesas') }}">Despesas Gerais</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('empresas') }}">Empresa</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('mostra_despesas_empresa') }}">Despesas Empresa</a>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" >Empresa</a>

            <div class="dropdown-menu">
                 <a href="{{ url_for('empresas') }}" class="dropdown-item">Consulta</a>
                 <a href="{{ url_for('mostra_despesas_empresa') }}" class="dropdown-item">Despesas</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('compara_periodo') }}">Compara Período</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('fecha_periodo') }}">Fecha Período</a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('sair') }}">Sair</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
