{% extends 'base.html' %}


{% block body %}
       {% for empresa in empresas %}
        <div class="class="container-fluid">
             <div class="row text-center">
                  <div class="col">
                      <div class="border">
                         <h5>{{ empresa.nome }}</h5>
                       </div>
                  </div>
             </div>

             <table class="table table-bordered border-dark">
                 <thead>
                    <tr class="table-success text-center">
                       <th scope="col"></th>
                       <th scope="col">Ano</th>
                       <th scope="col">Mês</th>
                       <th class="table-dark" scope="col">Rec.Bruta(+)</th>
                       <th scope="col">Rep %</th>
                       <th scope="col">Dev.(-)</th>
                       <th scope="col">Imp.(-)</th>
                       <th class="table-dark"  scope="col">R.Liq.(=)</th>
                       <th scope="col">C.M.V.(-)</th>
                       <th  class="table-dark"  scope="col">L.Bruto(=)</th>
                       <th scope="col">% L.Bruto</th>
                       <th scope="col">Des.Adm.(-)</th>
                       <th scope="col">% Des.Adm.</th>
                       <th scope="col">Des.Venda(-) </th>
                       <th scope="col">% Des.Venda </th>
                       <th class="table-dark"  scope="col">Total Des.(=)</th>
                       <th scope="col">% Total Des.</th>
                       <th class="table-dark"  scope="col">EBIT</th>
                       <th scope="col">% EBIT</th>
                    </tr>
                 </thead>

                  {% for resultado in resultados %}
                    {% if empresa.id == resultado.id_empresa  %}
                         <tbody>
                                <tr class="text-center" >
                                  <th scope="row"></th>
                                      <td>{{ resultado.ano }}</td>
                                      <td>{{ resultado.mes }}</td>
                                      <td class="table-dark">{{ (resultado.c_receita_bruta) }}</td>
                                      <td>{{ (resultado.c_rep_bruta) }}</td>
                                      <td>{{ (resultado.c_devolucao) }}</td>
                                      <td>{{ (resultado.c_val_imposto) }}</td>
                                      <td class="table-dark">{{ resultado.c_tot_rec_liq }}</td>
                                      <td>{{ (resultado.c_tot_cmv) }}</td>
                                      <td class="table-dark">{{ (resultado.c_lucro_bruto) }}</td>
                                      <td>{{ (resultado.c_rep_bruto) }}</td>
                                      <td>{{ (resultado.c_tot_adm) }}</td>
                                      <td>{{ (resultado.c_rep_adm) }}</td>
                                      <td>{{ (resultado.c_despesas_ven) }}</td>
                                      <td>{{ (resultado.c_rep_ven) }}</td>
                                      <td class="table-dark">{{ (resultado.c_tot_des) }}</td>
                                      <td>{{ (resultado.c_rep_des) }}</td>
                                      <td class="table-dark">{{ (resultado.c_ebit) }}</td>
                                      <td>{{ (resultado.c_rep_ebit) }}</td>
                                      <td>
                                           <a class="btn btn-secondary btn-sm " role="button" aria-disabled="true"
                                              href="{{ url_for('envia_excel', resultado_id=resultado.id) }}">Excel</a>
                                     </td>
                                </tr>
                         </tbody>
                     {% endif %}
                 {% endfor %}

             </table>

        </div>
        {% endfor %}

        <h5>Resumo Mensal</h5>
        <div class="class="container-fluid">
             <table class="table table-bordered border-dark">
                 <thead>
                    <tr class="table-success text-center">
                       <th scope="col"></th>
                       <th scope="col">Ano - Mes</th>
                       <th class="table-dark"  scope="col">Rec.Bruta(+)</th>
                       <th scope="col">Dev.(-)</th>
                       <th scope="col">Imp.(-)</th>
                       <th class="table-dark"  scope="col">R.Liq.(=)</th>
                       <th scope="col">C.M.V.(-)</th>
                       <th class="table-dark"  scope="col">L.Bruto(=)</th>
                       <th scope="col">% L.Bruto</th>
                       <th scope="col">Des.Adm.(-)</th>
                       <th scope="col">% Des.Adm.</th>
                       <th scope="col">Des.Venda(-) </th>
                       <th scope="col">% Des.Venda </th>
                       <th class="table-dark"  scope="col">Total Des.(=)</th>
                       <th scope="col">% Total Des.</th>
                       <th class="table-dark"  scope="col">EBIT</th>
                       <th scope="col">% EBIT</th>
                    </tr>
                 </thead>

                 <tbody>
                    <tr class="text-center">
                        {% for res in dicio_ano_mes %}
                        <th scope="row"></th>
                            <td>{{ res}}</td>
                            {% for i in range(15) %}
                               {% if i == 0 or i == 3 or i == 5 or i == 11 or i == 13 %}
                                 <td class="table-dark">{{ dicio_ano_mes[res][i] }}</td>
                               {% else %}
                                 <td>{{ dicio_ano_mes[res][i] }}</td>
                               {% endif %}
                           {% endfor %}
                    </tr>
                       {% endfor %}
                 </tbody>
         </table>
        </div>

        <h5>Resumo Anual</h5>
        <div class="class="container-fluid">
             <table class="table table-bordered border-dark">
                 <thead>
                    <tr class="table-success text-center">
                       <th scope="col"></th>
                       <th scope="col">Ano</th>
                       <th class="table-dark"  scope="col">Rec.Bruta(+)</th>
                       <th scope="col">Dev.(-)</th>
                       <th scope="col">Imp.(-)</th>
                       <th class="table-dark"  scope="col">R.Liq.(=)</th>
                       <th scope="col">C.M.V.(-)</th>
                       <th class="table-dark"  scope="col">L.Bruto(=)</th>
                       <th scope="col">% L.Bruto</th>
                       <th scope="col">Des.Adm.(-)</th>
                       <th scope="col">% Des.Adm.</th>
                       <th scope="col">Des.Venda(-) </th>
                       <th scope="col">% Des.Venda </th>
                       <th class="table-dark"  scope="col">Total Des.(=)</th>
                       <th scope="col">% Total Des.</th>
                       <th class="table-dark"  scope="col">EBIT</th>
                       <th scope="col">% EBIT</th>
                    </tr>
                 </thead>

            {% for res in dicio_ano %}
                 <tbody>
                    <tr class="text-center">
                        <th scope="row"></th>
                        <td>{{ res }}</td>
                        {% for i in range(15) %}
                            {% if i == 0 or i == 3 or i == 5 or i == 11 or i == 13 %}
                                <td class="table-dark">{{ dicio_ano[res][i] }}</td>
                            {% else %}
                                <td>{{ dicio_ano[res][i] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                 </tbody>
            {% endfor %}
         </table>
        </div>

{% endblock %}
